.snowboard {
  display: block;
  width: 10rem;
  margin: 1.5rem auto;
}
.boardName {
  font-size: 1.2rem;
}
.center{
}


.slick-slide{
    color:rgba(0, 0, 0, 0.0);
    opacity:0.3;
    filter:alpha(opacity=30); /* For IE8 and earlier */
}
.slick-active{
color:rgba(0, 0, 0, 0.0);
opacity:0.55;
filter:alpha(opacity=55); /* For IE8 and earlier */
}
.slick-center{
  opacity:1.0;
  color:rgba(0, 0, 0, 1.0);
  filter:alpha(opacity=100); /* For IE8 and earlier */
}
.subtitle{
  font-size: 0.9rem;
  padding-bottom: 8rem;
}
.title{
  font-weight: bold;
}
